body {
  font-weight: bolder;
  background-color: white;
  justify-content: center;
  width: 100%;
  /* border: 3px solid red; */
  /* padding: 2rem; */
}
h1 {
  color: grey;
  font-weight: bolder;
}

.range{
    display: flex;
}

main{
    /* border: 3px solid blue; */
    padding-left: 4rem;
}

.inside{
    border: 3px solid grey;
    padding: 1rem;
    width: 20rem;
}

